@page
@using CapstoneDemo.Shared
@using System.Net.Http.Headers

@{
    Grade[] grades = null;
    using (var client = new HttpClient())
    {
        client.BaseAddress = new Uri("https://localhost:7113/");
        client.DefaultRequestHeaders.Accept.Clear();
        client.DefaultRequestHeaders.Accept.Add(new MediaTypeWithQualityHeaderValue("application/json"));
        var t = client.GetFromJsonAsync<object[]>("WeatherForecast").Result;
        grades = client.GetFromJsonAsync<Grade[]>("WeatherForecast").Result;
    }
}

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (grades == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Temp. (C)</th>
            <th>Temp. (F)</th>
            <th>Summary</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var grade in grades)
        {
            <tr>
                <td>@grade.Id)</td>
                <td>@grade.Name</td>
                <td>@grade.Subject</td>
                    <td>@grade.GradeAmount</td>
            </tr>
        }
        </tbody>
    </table>
}